body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://wallpaperplay.com/walls/full/9/4/2/202835.jpg"); */
  /* background-color: #ef5350; */
  background-color: #efefef;
  /* background-color: #62727b; */
  /* animation-name: example;
  animation-duration: 14s;
  animation-iteration-count: 3; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "myFont";
  src: url("https://fonts.googleapis.com/css?family=Staatliches");
}

.app {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: 1fr;
  /* display: flex;
  flex-direction: row;
  width: 100%;
  height: 750px;
  padding: 0px;
  margin: 0px;
  height: 100vh; */
}

.sidebarContainer {
  display: flex;
  grid-column: 1;
  background-color: #d1d1d1;
  opacity: 1;
  color: #302f2f;
  overflow-y: scroll;
  height: 100vh;
}

.cameraContainer {
  grid-column: 2;
}

/* Sidebar CSS */

.smallcam {
  position: static;
  width: 202px;
  height: 151px;
  margin-right: 30px;
  filter: inherit;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-left: 7%;
  border-radius: 10px;
}

.smallcam:hover {
  border-color: red;
  border-width: 2px;
}

.sidebar {
  overflow-y: scroll;
}

.camBox:hover {
  border-color: purple;
  border-width: 5px;
}

/* CSS for Camera */

.camclick {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  filter: invert(50%);
  opacity: 60%;
  pointer-events: none;
}

.local-media {
  /* margin-top: 5%; */
  display: flex;
  border-color: white;
  padding: 25px;
}

#mainvid {
  height: 648px;
  width: 864px;
  border-radius: 0px;
  border-width: 20px;
  border-bottom-width: 40px;
  border-color: white;
  grid: 1;
}

.camwrap {
  display: grid;
  grid-template: 1fr/1fr;
  background-color: black;
}

/* CSS for older variant */

/* .bigArea {
  width: 75%;
  height: 700px;
}

.welCon {
  font-family: "Staatliches";
  display: flex;
  wrap: wrap;
}  */

/* .textfield {
  border-color: #3f51b5;
  border-left-style: solid;
  border-right-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: medium;

  width: 150px;
  height: 28px;
  color: white;
  background-color: transparent;
}

.seticon {
  height: 20px;
  width: 20px;
}

.local-media {
  display: flex;
  border-color: white;
  padding: 25px;
} */

/* .camclick {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  filter: invert(50%);
  opacity: 60%;
  pointer-events: none;
}

.countdown {
  position: absolute;
  left: 45%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 250px;
  color: white;
  z-index: 2;
  opacity: 60%;
  pointer-events: none;
  font-family: "Dancing Script", cursive;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.zoomAnimation {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3
    both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3 both;
}

video {
  margin-left: 15px;
  border-radius: 15px;
}

.none {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

#mainvid {
  height: 648px;
  width: 864px;
  border-radius: 0px;
  border-width: 20px;
  border-bottom-width: 40px;
  border-color: white;
}

.gray {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: grayscale();
}

.invert {
  margin-top: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: invert(100%);
}

.testdiv {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}

.blur {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: blur(5px);
}

.angel {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: brightness(200%) blur(2px);
}

.toon {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: saturate(8px);
}

.bizzaro {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: hue-rotate(90deg);
}

.sepia {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: sepia(400%);
}

.saturate {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: saturate(800%);
}

.contrast {
  margin-top: 5px;
  border-style: solid;
  background-color: gray;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 15px;
  filter: contrast(500%);
}

#shutter {
  border-radius: 50px;
  border-color: black;
  background: gray;
  border-style: double;
  position: relative;
  transition: 0.5s ease;
  top: 0px;
  left: 0px;
  bottom: 3000px;
  right: 500px;
  height: 500px;
  width: 200px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flash {
  background: white;
  filter: brightness(10000%);
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
} */

/* .modal-content3 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
} */

/* Add Animation */
/* @-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
} */

/* The Close Button */
/* .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

/* .modal-header {
  padding: 2px 16px;
  background-color: #b61827;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #b61827;
  color: white;
}

.modal-header2 {
  padding: 2px 16px;
  background-color: #b61827;
  color: white;
}

.modal-body2 {
  padding: 2px 16px;
}

.modal-footer2 {
  padding: 2px 16px;
  background-color: #b61827;
  color: white;
} */

/* .modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  */
/* background-color: rgba(0, 0, 0, 0.4);
} */

/* .buttons2 {
  color: #fff !important;
  text-transform: uppercase;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 10px;
}

.textfield2 {
  border-radius: 5px;
  border-style: double;
  border-color: #fff;
  height: 45px;
}

.library {
  border-radius: 15px;
  border-style: outset;
  border-color: gray;
  margin: 10px;
  width: 230px;
  height: 174px;
}  */

/* #myCanvasa {
  border-radius: 0px;
  transform: rotate(-15deg);
  border-color: white;
  border-width: 20px;
  border-style: solid;
  box-sizing: border-box;
}

#myCanvasb {
  border-radius: 0px;
  transform: rotate(15deg);
  border-color: white;
  border-width: 20px;
  border-style: solid;
  box-sizing: border-box;
}

#myCanvasc {
  border-radius: 0px;
  transform: rotate(-15deg);
  border-color: white;
  border-width: 20px;
  border-style: solid;
  box-sizing: border-box;
}

#myCanvasd {
  border-radius: 0px;
  transform: rotate(15deg);
  border-color: white;
  border-width: 20px;
  border-style: solid;
  box-sizing: border-box;
}

@keyframes example {
  0% {
    background-color: red;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: blue;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
} */
